PORT=3000
DATABASE_URL="postgresql://zenecho:zenecho2407@localhost:5432/zenecho?schema=public"

# JWT Config
JWT_ACCESS_SECRET="your-access-secret"
JWT_ACCESS_EXPIRATION="15m"

JWT_REFRESH_SECRET="your-refresh-secret"
JWT_REFRESH_EXPIRATION="7d"
